@import "tailwindcss";

:root {
  --background: #111525;
  --foreground: #FFFFFF;
  --font-sora: 'Sora', sans-serif;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora);
}

p, h3, h1, h2, h4, h5, h6, a, span, li, button {
  font-family: var(--font-sora);
}

html {
  scroll-behavior: smooth;
}

.main {
  width: 100%;
}

.section, section {
  padding-top: 72px;
  margin-top: -72px;
  scroll-margin-top: 72px;
}